# directories
files/
test_*/
recorded models/

saved_models/
saved_models_old/
recorded models/
evaluation/
eval_NIPS/

models/__pycache__/
utils/__pycache__/
__pycache__/



# file types
*.code-workspace
*.out



# some special files
test_*.txt
test_*.jpg

Low_rank_autoencoder_Sergei_tests__v1.ipynb
_run_py_script.sh
run_eval__.py
run_train_.py
script.py
script_2.py